/* Add a black background color to the top navigation */
body {
    background-image: url("../../images/nodejs.png");
}


.p1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px; 
    text-align: left;
    font-weight: bolder;
}  
.p2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    font-weight: bolder;
    text-align: left;
}
.p3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px; 
    text-align: left;
    font-weight: bolder;
}
.p4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px; 
    text-align: left;
    font-weight: bolder;
}

.flex-main-container{
  width: 64%;
  margin-left: 18%;
  display: flexbox;
  border-width:2px;
  border-style:solid; 
  border-color:#000000;
}

.flex-container1 {
  width: 35%;
  margin-left: 0%;
  flex-direction: column;
  background-color: rgb(4, 170, 32); 
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px; 
  text-align: left;
  display: flex;
}

.flex-container2 {
  width: 35%;
  margin-left: 6%;
  display: flex;
  flex-direction: column;
  background-color: rgb(253, 254, 254);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px; 
  text-align: left;
}
.flex-container3 {
  width: 35%;
  margin-left: 12%;
  display: flex;
  flex-direction: column;
  background-color: rgb(75, 117, 164);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px; 
  text-align: left;
}

.flex-container4 {
  width: 35%;
  margin-left: 18%;
  display: flex;
  flex-direction: column;
  background-color: rgb(94, 115, 98);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px; 
  text-align: left;
}

.flex-container5 {
  width: 35%;
  margin-left: 24%;
  display: flex;
  flex-direction: column;
  background-color: rgb(61, 165, 177);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px; 
  text-align: left;
}

.flex-container6 {
  width: 35%;
  margin-left: 30%;
  display: flex;
  flex-direction: column;
  background-color: rgb(103, 75, 135);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px; 
  text-align: left;
}

.flex-container7 {
  width: 35%;
  margin-left: 36%;
  display: flex;
  flex-direction: column;
  background-color: rgb(173, 84, 154);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px; 
  text-align: left;
}

.flex-container8 {
  width: 35%;
  margin-left: 42%;
  display: flex;
  flex-direction: column;
  background-color: rgb(72, 151, 149);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px; 
  text-align: left;
}

.flex-container9 {
  width: 40%;
  margin-left: 48%;
  display: flex;
  flex-direction: column;
  background-color: rgb(198, 123, 58);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px; 
  text-align: left;
}

.flex-container10 {
  width: 40%;
  margin-left: 54%;
  display: flex;
  flex-direction: column;
  background-color: rgb(58, 198, 116);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px; 
  text-align: left;
}

.flex-container11 {
  width: 40%;
  margin-left: 60%;
  display: flex;
  flex-direction: column;
  background-color: rgb(146, 48, 202);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px; 
  text-align: left;
}
