/* Add a black background color to the top navigation */
body {
    background-image: url("../../images/nodejs.png");
}
.p1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px; 
  text-align: left;
}  
.p2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  font-weight: bolder;
  text-align: left;
}
.p3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px; 
  text-align: left;
  font-weight: bolder;
}
.p4 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px; 
  text-align: left;
  font-weight: bolder;
}
.p5 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
}

.flex-main-container{
  width: 64%;
  margin-left: 18%;
  display: flexbox;
  border-width:2px;
  border-style:solid; 
  border-color:#000000;
}

.flex-container1 {
  display: flex;
}

.flex-child1 {
  flex: 1;
  border: 2px solid rgb(1, 1, 0);
  margin-right: 100px;
  margin-left: -50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px; 
  text-align: left;
  background-color: rgb(75, 117, 164);
  
}  

.flex-child1:first-child {
  margin-left: 100px;
} 


.flex-container2 {
  display: flex;
}

.flex-child2 {
  flex: 1;
  border: 2px solid rgb(1, 1, 0);
  margin-right: 100px;
  margin-left: -50px;
  margin-top: 100px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px; 
  text-align: left;
  background-color: rgb(103, 196, 42);
}  

.flex-child2:first-child {
  margin-left: 100px;
  margin-top: 100px;
} 






